name: Build 
run-name: Deploy ${{inputs.call_id}}

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      call_id:
        description: 'Call Id'
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x' # Specify the .NET version
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore

